.admin-login-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.admin-login-form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}
