/* login.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  color: #055f53;
  margin-bottom: 20px;
}

.login-form input {
  width: 90%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s ease;
}

.login-form input:focus {
  border: 1px solid #05424d;
  outline: none;
}

.login-form button {
  width: 80%;
  padding: 12px;
  background: linear-gradient(to right, #05685b);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover {
  background: linear-gradient(to right, #01312f);
}

.toggle-link {
  margin-top: 15px;
  font-size: 14px;
}

.toggle-link a {
  color: #4a00e0;
  text-decoration: none;
  font-weight: bold;
}

.toggle-link a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
